<form role="search" method="get" id="searchform" action="{{ home_url( '/' ) }}">
	<div>
		<label class="screen-reader-text" for="s">{{ __('Search for:') }}</label>
		<input type="text" value="{{ get_search_query() }}" name="s" id="s" />
		<input type="submit" id="searchsubmit" value="{{ __('Search') }}" />
	</div>
</form>